.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.CardContainer{
    width: 500px;
    height: 300px;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cardImage{
    width: 500px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
.CardTittle{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: black;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(206, 200, 200);  
}

.noResult{
  
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("../image/apology-sorry.jpg");
    background-size: cover;
    color: red;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    font-size: 25px;
}

.noResult >h1{
    width: 50%;
    padding-left: 40px;
}